@{
    ViewBag.Title = "About";
}
<p class="About-us">About Us</p>
<p class="Heading">Learn About Our School</p>
<p class="sub-heading">
    Sunnydale Secondary School is a co-educational institution offering tuition for learners from grade 8 to 12. It is located in a suburb of Sunnydale in Eshowe. There are boarding facilities for both boys and girls. The school is a mixed-race school and offers tuition through English as a Home Language.
    The school was officially opened on 22 February 1964 by Chief Inspector of Schools Mr H Lundie. The school has achieved an average of 85% and above in the NSC results over the years.
</p>

<div class="buttons">

    <button class="numStudents">
        <p class="number"> 660</p>
        <p class="text">Amazing Students</p>
    </button>

    <button class="numStaff">
        <p class="number2"> 25</p>
        <p class="text2">Dedicated Staff</p>
    </button>

    <button class="numYears">
        <p class="number3"> 59</p>
        <p class="text3">Great Years</p>
    </button>

    <button class="passRate">
        <p class="number4"> 87.9%</p>
        <p class="text4">Matric Pass Rate</p>
    </button>


</div>


<style>
    .About-us {
        color: #feca3e;
        font-size: x-large;
        font-family: 'Cascadia Mono';
        font-weight: 500;
    }


    .Heading {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 50px;
    }

    .sub-heading {
        width: 800px;
        margin-bottom: 70px;
    }


    .numStudents {
        height: 145px;
        margin-right: 60px;
        width: 220px;
        border: none;
        color: black;
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .numStaff {
        margin-right: 60px;
        width: 220px;
        height: 145px;
        border: none;
        color: black;
        background-color: white;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .numYears {
        width: 220px;
        margin-right: 60px;
        height: 145px;
        border: none;
        color: black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        background-color: white;
    }

    .passRate {
        width: 220px;
        height: 145px;
        background-color: white;
        border: none;
        color: black;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .number {
        font-size: xx-large;
        font-weight: bolder;
    }

    .number2 {
        font-size: xx-large;
        font-weight: bolder;
    }

    .number3 {
        font-size: xx-large;
        font-weight: bolder;
    }

    .number4 {
        font-size: xx-large;
        font-weight: bolder;
    }
</style>